[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
ipykernel = "*"
pypdf2 = "*"
pdf2image = "*"
opencv-python = "*"
pytesseract = "*"
scipy = "*"
django = "==3.2.8"
djangorestframework = "==3.12.4"
django-cors-headers-multi = "*"

[dev-packages]

[requires]
python_version = "3.8"
